body {
  margin: 0;
  font-family: 'Dela Gothic One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Dela Gothic One',cursive,
    monospace;
}
